 @charset "utf-8";
@media screen and (max-width: 1200px) {
.swiper-wrapper {
    width: 1200px;
    height: 500px;
  }

}
@media screen and (max-width: 1110px) {
    .search a{
        background-size: 95%;
    }
}
@media screen and (max-width: 1024px) {
  .category ul li a {
    font-size: 15px;
  }
  .text-box2 p{
    font-size:17px;
  }
}
@media screen and (max-width: 970px) {
  .text-box2 p{
    font-size:15.5px;
  }
  }
  @media screen and (max-width: 872px) {
    .login{
      width: 290px;
    }
    .login a{
      font-size:14.5px;
    }
    .category ul li{
      width: 10%;
    }
